* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.6fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 4fr;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 3px 3px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
}

.searchbar {
    background-color: rgb(231, 229, 229);
    width: 30rem;
    height: 1.5rem;
    border-radius: 1rem;
}

.search-icon {
    height: 1.5rem;
    margin-right: 0.7rem;
}

.notifications {
    display: flex;
}

.notification-icon {
    height: 1.5rem;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.user {
    display: flex;
    align-items: center;
}

.user-icon {
    height: 60px;
    margin-left: -0.3rem;
}

.greeting {
    margin-left: 1rem;
    font-weight: bold;
}

.greeting1 {
    font-size: 0.7rem;
}

.greeting2 {
    font-size: 1.2rem;
}

.button {
    margin-left: 1rem;
    border-radius: 1rem;
    border: none;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    background-color: #2B86C5;
    color: white;
    font-weight: 600;
}

.sidebar {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    padding-left: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 2.5rem;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);    
    color: white;
    max-width: 20rem;
}

.sidebar {
    padding-top: 1.2rem;
}

.links {
    display: flex;
    align-items: center;
}

.icon {
    height: 1.5rem;
    margin-right: 1.8rem;
}

.logo {
    height: 2.5rem;
    margin-right: 1rem;
    margin-left: -0.4rem;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row: 2 / -1;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #e4f1fa
}

.main-titles {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.card-grid {
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 0.4rem;
    border-left: solid 6px #784BA0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.main-names {
    font-size: 0.9rem;
    font-weight: bold;
}

.project-description {
    font-size: 0.8rem;
    color: rgb(100, 100, 100);
}

.right-side {
    margin-left: 2rem;
    grid-row: 1 / 2;
    grid-column: 2 / -1;
}

.news {
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
}

.news-titles {
    font-weight: bold;
    font-size: 0.8rem;
}

.news-text {
    font-size: 0.7rem;
    color: rgb(100, 100, 100);
    margin-bottom: 1rem;
}

hr {
    border-top: 1px solid rgba(185, 185, 185, 0.1);
    margin-bottom: 1rem;
}

.trends {
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.one, .two, .three, .four {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.trends-titles {
    font-size: 0.8rem;
}

.avatar-small {
    height: 2.5rem;
    margin-right: 0.5rem;
}

.trends-text {
    font-size: 0.7rem;
    color: rgb(100, 100, 100);
}